body {
  font-family: "Courier New", serif;
  font-size: 16px;
  line-height: 1.25em;
  background: #fff;
  color: #2b2b2b;
  height: 100vh;
}
div {
  box-sizing: border-box;
}
.container {
  width: calc(100% - 20px);
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  min-height: 700px;
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  pointer-events: none;
}
.hamburger {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px;
  background: #fff;
  z-index: 100;
}
.hamburger img {
  height: 22px;
  float: right;
  pointer-events: all;
}
.left-menu {
  font-family: "Courier New", serif;
  position: absolute;
  width: 400px;
  max-width: 100%;
  height: calc(100% - 100px);
  top: 0;
  left: 0;
  padding-top: 100px;
  padding-left: 40px;
  z-index: 100;
}
.left-menu p.menu {
  font-size: 14px;
  margin: 0;
  color: #9a9a9a;
}
.left-menu p.menu.active {
  text-decoration: underline;
}
.left-menu ul {
  font-size: 16px;
  margin: 0;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}
.left-menu ul li {
  margin-bottom: 4px;
}
.left-menu .close {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 22px;
  pointer-events: all;
  display: none;
}
.appearing {
  animation: appear 0.6s linear 2s 1 normal forwards;
  -moz-animation: appear 0.6s linear 2s 1 normal forwards;
  -webkit-animation: appear 0.6s linear 2s 1 normal forwards;
  opacity: 0;
}
.statement {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.statement p {
  text-align: left;
}
.statement p#author {
  text-align: right;
}
.statement img {
  margin-top: 10px;
  width: 100%;
}
.content {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding-top: 100px;
}
div.project {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 50px 0;
  min-height: 100vh;
}
div.project div.row {
  margin-top: 10px;
}
div.project img,
div.project iframe {
  margin-top: 50px;
  max-width: 960px;
}
div.project img.large,
div.project iframe.large {
  width: 100%;
  display: block;
}
div.project img.small,
div.project iframe.small {
  float: left;
  width: calc((100% - 30px) / 2);
}
div.project img.small:first-child,
div.project iframe.small:first-child {
  margin-right: 30px;
}
div.project img.centered,
div.project iframe.centered {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: block;
}
div.project img.vert,
div.project iframe.vert {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
div.project label {
  padding-top: 8px;
  display: block;
  clear: both;
}
div.project audio {
  margin-top: 20px;
  width: 670px;
  max-width: 100%;
}
div.project .audio-centered {
  margin-top: 20px;
  width: 670px;
  max-width: 100%;
  margin: 0 auto;
}
div.back-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px 30px;
  width: 100%;
  background: #fff;
  z-index: 100;
  font-family: "Courier New", serif;
  font-size: 12px;
  margin: 0;
  color: #9a9a9a;
  letter-spacing: 1px;
}
div.back-menu.mobile-back-menu {
  display: none;
}
@media screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
  .statement,
  .content {
    width: 100%;
    max-width: 400px;
    font-size: 12px;
  }
  .left-menu {
    padding-left: 30px;
  }
  .left-menu p.menu {
    font-size: 10px;
  }
  .left-menu ul {
    font-size: 12px;
  }
}
@media screen and (min-width: 2600px) {
  body {
    font-size: 18px;
  }
  .statement,
  .content {
    width: 100%;
    max-width: 600px;
    font-size: 16px;
  }
  .left-menu p.menu {
    font-size: 14px;
  }
  .left-menu ul {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: calc(100% - 20px);
    min-height: 0;
  }
  .container .content {
    padding-top: 50px;
  }
  .container .statement,
  .container .content {
    width: 100%;
    max-width: none;
  }
  .project img:first-child {
    margin-top: 0;
  }
  .left-menu {
    display: none;
    top: 0;
    padding-top: 100px;
    animation: none;
    background-color: rgba(255,255,255,0.93);
    width: 100%;
    height: 100%;
  }
  .left-menu.visible {
    display: block;
  }
  .left-menu .close {
    display: block;
  }
  .left-menu p.menu {
    margin: 0 0 8px 0;
  }
  .left-menu ul li {
    margin-bottom: 11px;
  }
  .hamburger {
    display: block;
  }
  div.back-menu {
    padding: 15px 10px;
  }
  div.back-menu.mobile-back-menu {
    display: block;
  }
}
@media screen and (max-width: 500px) and (max-height: 550px) {
  .statement {
    top: 50px;
    transform: none;
    -moz-transform: none;
    -webkit-transform: none;
  }
}
@-moz-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
