<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href={{ "/assets/swiper/css/swiper.min.css" | relative_url }}>
  </head>
  <body>
    <div class="title">
      <h1>Giulia Zabarella</h1>
      <nav>
        <p><a href="/about/">about</a></p>
        <p><a href="/cv/">CV</a></p>
        <p><a href="/contact/">contact</a></p>
        <p><a href="/news/">news</a></p>
      </nav>
    </div>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for work in site.works reversed %}
          <div class="swiper-slide" data-hash="{{ work.slug }}">
            <div class="image-container" style="background-image: url('{{ work.carousel_image }}')" onclick="openWork('{{ work.slug }}')"></div>
            <h3>{{ work.title }}</h3>
          </div>
        {% endfor %}
      </div>

      <div class="swiper-button-next swiper-button-black"></div>
      <div class="swiper-button-prev swiper-button-black"></div>
    </div>

    <!-- Swiper JS -->
    <script src={{ "/assets/swiper/js/swiper.min.js" | relative_url }}></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 1,
        spaceBetween: 0,
        hashNavigation: true,
        simulateTouch: false,
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });

      openWork = function(slug) {
        window.location.href = 'works/' + slug;
      }
    </script>
  </body>
</html>
